.gallery-box{
    display: flex;
    justify-content: center;
}
.content-gallery {
    display: flex;
    justify-content: space-around;
    width: 80%;

}
.gallery-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    transform: skew(-5deg);
    transition: width 0.2s;
}
.gallery-card:hover{
    transition: width 0.2s;
    width: 35%;
}
.card-image {
    width: 100%;
    height: 30vh;
    filter: brightness(60%);
    object-fit: cover;
}
.card-content {
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 125px;
}